<div class="container full-screen center align-center column">
  <h1 class="headline4 bold text-center">PASO 2: Sube tus imagenes de mockup</h1>
  <div class="card">
    <p class="body1">Desde su diagrama BPMN, hemos detectado diferentes tareas que están relacionadas con el desarrollo
      web, cargue las maquetas relacionadas con las tareas correspondientes.
    </p>
    <table mat-table [dataSource]="dataSource" class="table-mockups">
      <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Tasks Detected </th>
        <td mat-cell *matCellDef="let element"> {{element.task}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Mockups </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button color="primary">{{element.mockup}}</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Tools </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon aria-hidden="false" aria-label="Delete task" fontIcon="delete">
          </mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <br />
    <div class="row space-between">
      <button mat-raised-button color="primary" routerLink="/dashboard"><mat-icon>arrow_back</mat-icon>
        Regresar</button>
      <button mat-raised-button color="primary">Agregar</button>
      <button mat-raised-button color="primary" routerLink="/generator">Siguiente <mat-icon
          iconPositionEnd>arrow_forward</mat-icon></button>
    </div>
  </div>

</div>