<h2 style="text-align: center; margin: 40px 0 45px 0;">Step 2: Upload your mockups images</h2>

<mat-card class="container">
  <div class="item">
    <p class="sub-item">From your BPMN diagram we have detected different tasks that
      are related to web development, please upload the mockups
      related to the corresponding tasks.
    </p>
  </div>
  <div class="item">
    <div class="sub-item">
      <h3>Tasks Detected</h3>
      <h3>Mockups</h3>
      <h3>Tools</h3>
    </div>
    <div class="sub-item">
      <p>Task 1</p>
      <button mat-raised-button color="primary">Upload Mockup 1</button>
      <mat-icon aria-hidden="false"
                aria-label="Delete task"
                fontIcon="delete">
      </mat-icon>
    </div>
  </div>
  <div class="item">
    <div class="sub-item"><button mat-raised-button color="primary">BACK</button></div>
    <div class="sub-item"><button mat-raised-button color="primary">NEXT</button></div>
  </div>
</mat-card>
