<div class="container-login">
    <div class="container-left">
        <div class="container-form">
            <h3 class="title">Iniciar Sesión</h3>
            <p>Bienvenido a GGI, una plataforma que te ayuda generar interfaces en simples pasos.</p>
            <form class="login-form"
                  (ngSubmit)="login()"
                  autocomplete="off"
                  [formGroup]="loginForm">

                <mat-form-field class="input">
                    <mat-label>Correo</mat-label>
                    <input matInput
                           type="email"
                           formControlName="email">
                    <mat-error *ngIf="fieldNotValid('email')">Ingrese un correo electrónico válido</mat-error>
                </mat-form-field>

                <mat-form-field class="input">
                    <mat-label>Contraseña</mat-label>
                    <input type="password" matInput
                           formControlName="password">
                    <mat-error *ngIf="fieldNotValid('password')">Ingrese su contraseña</mat-error>
                </mat-form-field>

                <button class="button-login"
                        type="submit" mat-raised-button
                        color="primary"
                        style="margin-top: 2px;"
                        [disabled]="this.loginForm.invalid">
                  Ingresar
                </button>

                <button class="button-register" type="button"
                        routerLink="/auth/register"
                        mat-stroked-button
                        color="primary">
                        ¿No tiene una cuenta?
                </button>

            </form>
        </div>
    </div>
    <div class="container-right">
    </div>
</div>
