<div class="container-register">
    <div class="container-left">
        <div class="container-form">
            <h3 class="title">Nueva Cuenta</h3>
            <form class="register-form"
                  (ngSubmit)="register()"
                  autocomplete="off"
                  [formGroup]="registerForm">

                <mat-form-field class="input">
                  <mat-label>Nombre Completo</mat-label>
                  <input matInput
                          type="text"
                          formControlName="name">
                  <mat-error *ngIf="fieldNotValid('name')">Este es un campo obligatorio</mat-error>
                </mat-form-field>

                <mat-form-field class="input">
                  <mat-label>Correo</mat-label>
                  <input matInput
                         type="email"
                         formControlName="email">
                  <mat-error *ngIf="fieldNotValid('email')">Ingrese un correo electrónico válido</mat-error>
              </mat-form-field>

                <mat-form-field class="input">
                  <mat-label>Contraseña</mat-label>
                  <input type="password"
                          matInput
                          formControlName="password">
                  <mat-error *ngIf="fieldNotValid('password')">Este es un campo obligatorio</mat-error>
                </mat-form-field>

                <mat-form-field class="input">
                  <mat-label>Repetir Contraseña</mat-label>
                  <input type="password"
                          matInput
                          formControlName="password2">
                  <mat-error *ngIf="fieldNotValid('password2')">Este es un campo obligatorio</mat-error>
                </mat-form-field>
                <mat-error *ngIf="notValidPasswords() && formSubmitted" >
                           Las contraseñas deben ser iguales
                </mat-error>


                <button class="button-register" type="submit"
                        mat-raised-button
                        color="primary"
                        [disabled]="this.registerForm.invalid">
                        Registrarse
                </button>

                <button class="button-cancel" type="button"
                        routerLink="/auth/login"
                        mat-stroked-button
                        color="primary">
                        ¿Ya tiene una cuenta?
                </button>
            </form>
        </div>
    </div>
    <div class="container-right">

    </div>
</div>
