<div class="container">
    <h1 class="headline5">Mis Notificaciones</h1>
    <div>
        <div class="card" *ngFor="let item of notifications">
            <div class="row space-between">
                <div class="row">
                    <img class="user-icon" src="../../../../assets/images/user.png" />
                    <p class="headline6 bold">{{item.user}}</p>
                </div>
                <p class="body2">01/01/2023 20:10</p>
            </div>
            <div>
                <p class="body1 text-justify">{{item.description}}</p>
            </div>
        </div>
    </div>
</div>