.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin-top: 75px;
}

.row {
  width: 100%;
  text-align: center;
  height: 20%;
}

/*** Global Styles ***/
h1 {
  font-size: 48px;
  font-weight: bold;
}

h2 {
  font-size: 40px;
  font-weight: bold;
}

p {
  font-size: 26px;
  font-weight: regular;
}

button {
  width: 650px;
  height: 110px !important;
  font-size: 38px;
  font-weight: bold;
}
