/* .container {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.card-container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
}

video#vid {
    min-width: 100%; 
    min-height: 100%; 
    width: 100%;
    height: 500px;
    background-size: cover;
    margin: 0 auto;
} */