<div class="container full-screen center align-center">
    <div class="card">
        <div class="row center">
            <img src="../../../../assets/images/user.png" class="img-profile" />
        </div>
        <div class="row space-between">
            <div class="item-info">
                <b class="body1">BPMN Subidos</b>
                <p class="headline4">10</p>
            </div>
            <hr style="margin: 20px 0; border-width: 1px;border-radius: 30px; border-color: black;" />
            <div class="item-info">
                <b class="body1">Mockup Subidos</b>
                <p class="headline4">10</p>
            </div>
        </div>
        <form class="column">
            <mat-form-field class="example-full-width">
                <mat-label>Nombre Completo</mat-label>
                <input matInput type="text" value="Sushi">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Correo</mat-label>
                <input matInput type="email" value="Sushi">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" value="Sushi">
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary">Guardar</button>
        </form>
    </div>
</div>