<div class="container full-screen center align-center column gap15">
    <h1 class="headline3 bold">PASO 3: Elije la tecnologia</h1>
    <p class="body1">Ya estás muy cerca de obtener tu sitio web, solo debes seleccionar la tecnología en la que lo quieres.</p>
    <h4 class="headline5 bold">Tenologias</h4>
    <div class="row space-between gap15">
        <div class="column center align-center">
            <img src="../../../../assets/images/react.png" />
            <input type="radio" id="react" name="tec" value="react"
             checked>
        </div>
        <div class="column center align-center">
            <img src="../../../../assets/images/angular.png" />
            <input type="radio" id="angular" name="tec" value="angular"
             >
        </div>
        <div class="column center align-center">
            <img src="../../../../assets/images/vue.png" />
            <input type="radio" id="vuejs" name="tec" value="vuejs"
             >
        </div>
    </div>
    <div class="container-button">
        <button mat-raised-button
        class="button-generate"
        color="primary"
        routerLink="/upload-mockups">
        GENERAR PROYECTO
    </button>
    </div>
</div>