<div class="container">
    <h2 class="title">STEP 3: Choose the technology</h2>
    <h4 class="subtitle">You are already very close to obtaining your website, you just need to select the technology in
        which you want it.</h4>
    <h4 class="title-option">Technologies</h4>
    <div class="list-tecnology">
        <div class="item-tecnology">
            <img src="../../../../assets/images/react.png" />
            <mat-checkbox class="example-margin" 
            ></mat-checkbox>
        </div>
        <div class="item-tecnology">
            <img src="../../../../assets/images/angular.png" />
            <mat-checkbox class="example-margin"></mat-checkbox>
        </div>
        <div class="item-tecnology">
            <img src="../../../../assets/images/vue.png" />
            <mat-checkbox class="example-margin"></mat-checkbox>
        </div>
    </div>
    <div class="container-button">
        <button mat-raised-button
        class="button-generate"
        color="primary"
        routerLink="/upload-mockups">
        GENERATE PROJECT
    </button>
    </div>
</div>