/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Reset */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.headline1 {
  font-family: unquote("Roboto");
  font-size: 96px !important;
}

.headline2 {
  font-family: unquote("Roboto");
  font-size: 60px !important;
}

.headline3 {
  font-family: unquote("Roboto");
  font-size: 48px !important;
}

.headline4 {
  font-family: unquote("Roboto");
  font-size: 34px !important;
}

.headline5 {
  font-family: unquote("Roboto");
  font-size: 24px !important;
}

.headline6 {
  font-family: unquote("Roboto");
  font-size: 20px !important;
}

.body1 {
  font-family: unquote("Roboto");
  font-size: 16px !important;
}

.body2 {
  font-family: unquote("Roboto");
  font-size: 14px !important;
}

.subtitle1 {
  font-family: unquote("Roboto");
  font-size: 16px !important;
}

.subtitle2 {
  font-family: unquote("Roboto");
  font-size: 14px !important;
}

.button {
  font-family: unquote("Roboto");
  font-size: 14px !important;
}

.overline {
  font-family: unquote("Roboto");
  font-size: 10px !important;
}

.caption {
  font-family: unquote("Roboto");
  font-size: 12px !important;
}

.bold {
  font-weight: bold !important; 
}

.space-between {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.text-justify {
  text-align: justify;
}

.text-center {
  text-align: center;
}

.user-icon {
  width: 20px;
  height: 20px;
}

.gap15 {
  gap: 15px !important;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.column {
  display: flex;
  flex-direction: column;
}

.container {
  padding: 20px;
}

.card {
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

code {
  background-color: #404756;
  border-radius: 5px;
  display: flex;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
}

.full-screen {
  width: 100%;
  height: 100%;
  display: flex;
}

td,
th {
    text-align: center !important;
    font-family: unquote("Roboto");
    font-size: 16px !important;
}

mat-form-field {
  width: 100% !important;
}

input[type="radio"] {
  margin-top: 20px;
  cursor: pointer;
  height: 1.2rem;
  width: 1.2rem;
}