<!-- <mat-toolbar color="primary"
             (click)="opened = !opened">
  <mat-toolbar-row>

    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>

    <span>Username</span>

    <button mat-button
            routerLink="/auth/login">
      Logout
    </button>

  </mat-toolbar-row>
</mat-toolbar> -->

<mat-sidenav-container>

  <mat-sidenav mode="side" [(opened)]="opened">
    <h1 class="sidenav-header">GGI</h1>
    <mat-nav-list>
      <mat-list-item [routerLink]="item.redirectTo" *ngFor="let item of menuItems">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <div matListItemTitle>{{ item.title }}</div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content style="background-color: #ECECEC;">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
